[Unit]
Description=Seat management daemon
Documentation=man:seatd(1)

[Service]
Type=simple
# Specify the group you'd like to grant access to seatd
ExecStart=seatd -g seat
Restart=always
RestartSec=1

# Filesystem lockdown
ProtectHome=true
ProtectSystem=strict
ProtectKernelTunables=true
ProtectControlGroups=true
PrivateTmp=true
ProtectProc=invisible
ProcSubset=pid
UMask=0077

# Privilege escalation
NoNewPrivileges=true
RestrictSUIDSGID=true

# Network
PrivateNetwork=true
IPAddressDeny=any

# System call interfaces
SystemCallFilter=@system-service
SystemCallFilter=~@resources
SystemCallErrorNumber=EPERM
SystemCallArchitectures=native

# Kernel
ProtectKernelLogs=true
ProtectKernelModules=true
LockPersonality=true

[Install]
WantedBy=multi-user.target
